@{
    ViewData["Title"] = "Home Page";
}
<html>
<div class="text-center">
    <h1 style="background-color:ghostwhite"> PIE'O CLOCK </h1>
    @*<h1 class="display-4">PIE'O CLOCK</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<body class="text-dark">
        <style>
            body{
                background-image:url("/Images/bbackground.jpg");
            }
        </style>
</body>

@*Used Carousel*@
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
   
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/cherrypie.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CHERRY PIE</h5>
        <p>Cherry pie is a pie baked with a cherry filling. Traditionally, cherry pie is made with sour cherries rather than sweet cherries. Morello cherries are one of the most common kinds of cherry used, but other varieties such as the black cherry may also be used.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/christmasapplepie.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CHRISTMAS APPLE PIE</h5>
        <p>An apple pie is a pie in which the principal filling ingredient is apples. The earliest printed recipe is from England. Apple pie is often served with whipped cream, ice cream, or cheddar cheese. It is generally double-crusted, with pastry both above and below the filling; the upper crust may be solid or latticed.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/strawberrypie.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STRAWBERRY PIE</h5>
        <p>Strawberry pie is a dessert food consisting mainly of strawberries. Strawberry pie mostly consists of strawberries, sugar, a pie crust, and sometimes gelatin. Usually about 70% of the pie by weight is strawberries. It is often served with whipped cream, or sometimes with ice cream.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</html>